@font-face {
	font-family: 'Frutiger';
	font-style: normal;
	font-weight: normal;
	src: local('Frutiger'), url('/fonts/Frutiger.woff') format('woff');
}

:root {
	--color-text: #000000;
	--color-text-2: #141251;
	--color-text-3: #1B60DB;
	--color-background: #ffffff;
	--color-background-2: #f3f7fd;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Frutiger';
	font-weight: 100;
}

a,
li,
button {
	display: flex;
	text-decoration: none;
	align-items: center;
}

article {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

p {
	line-height: 1.5em;
}

h2 {
	font-size: 2em;
}


/*/////////////////////// PAGINA 1: HOME ///////////////////////*/

/* HEADER */

header {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
}

.nav-top {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: var(--color-background);
	align-items: center;
	background-color: var(--color-background-2);
}



.nav-top .reizigers {
	background-color: var(--color-background);
	padding-inline: 1em;
}

.nav-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--color-background);
	align-items: center;
}

.nav-top ul li {
	height: 40px;
}

.nav-bottom ul li {
	height: 69px;
}

.nav-bottom button {
	display: none;
}

.nav-bottom section {
	display: none;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	display: flex;
	align-items: center;
	padding-inline: 1em;
	font-size: 0.9em;
	font-weight: 100;
	color: var(--color-text-2);
}

.dropdown-icon {
	width: 1.6em;
	margin-right: 0.3em;
}

.logo {
	width: 7em;
	padding-left: 1em;
}

.inlog-icon {
	width: 1.6em;
	margin-right: 0.3em;
}

.zoek-icon {
	width: 1.6em;
}


/* SECTION 1 */

.part-1 {
	height: 22em;
}

.part-1 section {
	position: absolute;
}

.part-1 img {
	position: relative;
	object-fit: cover;
	height: 22em;
	width: 100%;
	background-position: center;
	margin-inline: auto;
}

.part-1 h1 {
	top: 3.5em;
	left: 6.5em;
	padding: 0.5em;
	font-size: 1em;
	background-color: var(--color-background);
	color: var(--color-text);
}


/* SECTION 2 */

.part-2 {
	display: flex;
	justify-content: center;
	position: relative;
	max-width: 900px;
}

.part-2 h2 {
	position: relative;
}


/* SECTION 3 */

.part-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 10em;
}

.part-3 a:hover {
	border: 0.25em solid;
	border-color: var(--color-background-2);
}

.part-3 a:hover h3 {
	text-decoration: 1px underline;
	text-decoration-color: var(--color-text-3);
}

.part-3 a {
	border: 1px solid #f2f1f4;
	margin: 0;
}

.part-3 p {
	color: var(--color-text-2)
}

.part-3 article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 1em;
}

.part-3 h3 {
	font-weight: bold;
	color: var(--color-text-3);
	margin-top: 1em;
	margin-bottom: 1em;
}


/* SECTION 4 */

.part-4 {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
	margin-inline: 1em;
	height: fit-content;
}

.part-4 h2 {
	position: relative;
	color: var(--color-text-2);
	font-weight: bold;
	max-width: 990px;
	margin-inline: auto;
	margin-bottom: 0.5em;
}

.part-4 article {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .1);
	/* height: 425px; */
}

.part-4 section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.875em;
	max-width: 990px;
	/* height: fit-content; */
	margin-inline: auto;
}

.part-4 article h3 {
	margin-inline: 1em;
	margin: 1em;
	font-size: 1.4em;
	font-weight: bold;
	color: var(--color-text-2)
}

.part-4 article p {
	margin-inline: 1em;
	margin-bottom: 1em;
	color: var(--color-text-2);
}

.part-4 article section {
	display: flex;
	flex-direction: flex-start;
	align-items: center;
	margin-inline: 1em;
	margin-bottom: 1em;
}

.part-4 article section p {
	color: var(--color-text-3);
	margin-inline: 0;
	margin-bottom: 0;
}

.part-4 article:hover {
	box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .3);
}

.part-4 article:hover section p {
	text-decoration: 1px underline;
	text-decoration-color: var(--color-text-3);
	color: var(--color-text-3);
}


.part-4 article section img {
	width: 1.5em;
}

.part-4 img {
	width: 100%;
}


/* SECTION 5 */

.part-5 {
	background-color: var(--color-background-2);
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	padding-inline: 1em;
}

.part-5 section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.875em;
	max-width: 990px;
	margin-inline: auto;
}

.part-5 img {
	width: 1.5em;
}

.part-5 h2 {
	position: relative;
	color: var(--color-text-2);
	font-weight: bold;
	max-width: 990px;
	margin-inline: auto;
	margin-bottom: 0.5em;
}

.part-5 h3 {
	display: flex;
	justify-content: flex-start;
	margin-inline: 1em;
	margin: 1em;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--color-text-2)
}

.part-5 h4 {
	font-weight: bold;
	color: var(--color-text-2);
}

.part-5 a {
	color: var(--color-text-3)
}

.part-5 article {
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	align-items: flex-start;
}

.part-5 article section {
	display: flex;
	align-items: flex-start;
	margin-left: 1em;
	margin-bottom: 1em;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
}


/* SECTION 6 */

.part-6 {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
	margin-inline: 1em;
}

.part-6 h2 {
	position: relative;
	color: var(--color-text-2);
	font-weight: bold;
	max-width: 990px;
	margin-inline: auto;
	margin-bottom: 0.5em;
}

.part-6 article {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .1);
	height: 425px;
}

.part-6 section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.875em;
	max-width: 990px;
	margin-inline: auto;
}

.part-6 article h3 {
	margin-inline: 1em;
	margin: 1em;
	font-size: 1.4em;
	font-weight: bold;
	color: var(--color-text-2)
}

.part-6 article p {
	margin-inline: 1em;
	margin-bottom: 1em;
	color: var(--color-text-2);
}

.part-6 article section {
	display: flex;
	flex-direction: flex-start;
	align-items: center;
	margin-inline: 1em;
	margin-bottom: 1em;
}

.part-6 article section p {
	color: var(--color-text-3);
	margin-inline: 0;
	margin-bottom: 0;
}

.part-6 article:hover {
	box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .3);
}

.part-6 article:hover section p {
	text-decoration: 1px underline;
	text-decoration-color: var(--color-text-3);
	color: var(--color-text-3);
}


.part-6 article section img {
	width: 1.5em;
}

.part-6 img {
	width: 100%;
}

.part-6 .link {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-inline: auto;
	max-width: 990px;
	margin-top: 0.5em;
	color: var(--color-text-3);
}

.part-6 .link img {
	width: 1.5em;
}


/* SECTION 7 */

.part-7 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 660px;
	margin-inline: auto;
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}

.part-7 img {
	width: 3em;
}

.part-7 h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: var(--color-text-2);
}

.part-7 a {
	display: flex;
	justify-content: space-around;
	color: var(--color-text-3);
}

.part-7 a img {
	width: 1.5em;
}


/* FOOTER */

footer {
	background-image: linear-gradient(160deg, #2c4596 0%, #2164b7 30%, #3d4795 30%, #215db0 54%, #1059aa 100%);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

footer article {
	display: flex;
	align-items: flex-start;
	width: 200px;
	margin: 1em;
	justify-content: flex-start;
	flex-direction: column;
}

footer h2 {
	color: var(--color-background);
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

footer a {
	color: var(--color-background);
	line-height: 1.5em;
	font-size: 1em;
	font-weight: 100;
}

footer a:hover {
	text-decoration: 1px underline;
	text-decoration-color: var(--color-background);
}



/*////////////// PAGINA 2: VERTREK /////////////////*/

/* SECTION 1.2 */


/* SECTION 2.2 */

.part-2_2 button {
	display: flex;
	box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .1);
	justify-content: space-between;
	align-items: flex-start;
	padding: 0;
}


/* SECTION 3.2 */

.part-3_2 {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
	margin-inline: 1em;
}

.part-3_2 h2 {
	position: relative;
	color: var(--color-text-2);
	font-weight: bold;
	margin-inline: auto;
	margin-bottom: 0.5em;
}

.part-3_2 article {
	display: flex;
	box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .1);
	justify-content: space-between;
	align-items: flex-start;
}

.part-3_2 section {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	row-gap: 0.5em;
	margin-inline: auto;
}

.part-3_2 article h3 {
	display: flex;
	justify-content: flex-start;
	font-size: 1.4em;
	font-weight: bold;
	color: var(--color-text-2)
}

.part-3_2 article p {
	margin-inline: 1em;
	margin-bottom: 1em;
	color: var(--color-text-2);
}

.part-3_2 article section {
	display: flex;
	margin-inline: 1em;
	margin-bottom: 1em;
	flex-direction: column;
}

.part-3_2 article section p {
	color: var(--color-text-3);
	margin-inline: 0;
	margin-bottom: 0;
}

.part-3_2 article:hover {
	box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .3);
}

.part-3_2 article:hover section p {
	text-decoration: 1px underline;
	text-decoration-color: var(--color-text-3);
	color: var(--color-text-3);
}

.part-3_2 article img {
	width: 1.5em;
}


/*////////////////////// Tablet ///////////////////////*/

@media only screen and (max-width: 825px) {

	/* HEADER */

	header {
		display: flex;
		height: 49px;
		flex-direction: column;
		align-items: stretch;
	}

	.logo {
		display: flex;
		justify-content: center;
		padding-left: 0;
		width: 5.5em;
	}

	.inlog-icon {
		display: block;
	}

	.zoek-icon {
		display: block;
	}

	.nav-top {
		display: none;
	}

	.nav-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-bottom ul {
		display: none;
	}

	.nav-bottom button {
		display: block;
		display: flex;
		justify-content: space-between;
		background-color: var(--color-background);
		color: var(--color-text-2);
		border: none;
		font-size: 1em;
		cursor: pointer;
	}

	.nav-bottom section {
		display: block;
		display: flex;
	}


	/* SECTION 1 */

	.part-1 {
		height: 22em;
	}


}


/*//////////////////////// Mobile ////////////////////////*/

@media only screen and (max-width: 650px) {

	/* HEADER */

	header {
		display: flex;
		height: 49px;
		flex-direction: column;
		align-items: stretch;
	}

	.logo {
		display: flex;
		padding-left: 0;
		width: 5.5em;
	}

	.nav-top {
		display: none;
	}

	.nav-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-bottom ul {
		display: none;
	}

	.nav-bottom button {
		display: block;
		display: flex;
		justify-content: space-between;
		background-color: var(--color-background);
		color: var(--color-text-2);
		border: none;
		font-size: 1em;
		cursor: pointer;
	}

	.nav-bottom section {
		display: block;
		display: flex;
	}

	.inlog-icon {
		visibility: visible;
	}

	.zoek-icon {
		visibility: visible;
	}


	/* SECTION 1 */

	.part-1 {
		height: 16em;
	}

	.part-1 img {
		object-fit: cover;
		height: 16em;
		width: 100%;
		background-position: center;
		margin-inline: auto;
	}


	/* SECTION 3 */

	.part-3 {
		display: grid;
		background-color: var(--color-background-2);
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: none;
		height: 100%;
		padding: 1em;
	}

	.part-3 a:hover {
		text-decoration: underline;
		text-decoration-color: var(--color-background-2);
		background-color: var(--color-background-2)
	}

	.part-3 a {
		border: 1px solid #f2f1f4;
		margin: 0;
		background-color: var(--color-background)
	}

	.part-3 article {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.part-3 h3 {
		font-weight: bold;
		color: #1B60DB;
		margin-top: 1em;
		margin-bottom: 1em;
	}


	/* SECTION 4 */

	.part-4 {
		margin-top: 3.5em;
		margin-bottom: 3.5em;
		margin-inline: 1em;
	}

	.part-4 h2 {
		position: relative;
		color: var(--color-text-2);
		font-weight: bold;
		max-width: 990px;
		margin-inline: auto;
		margin-bottom: 0.5em;
	}

	.part-4 article {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .1);
		height: 425px;
	}

	.part-4 section {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
		row-gap: 1.875em;
		margin-inline: auto;
	}

	.part-4 article h3 {
		margin-inline: 1em;
		margin: 1em;
		font-size: 1.4em;
		font-weight: bold;
		color: var(--color-text-2)
	}

	.part-4 article p {
		margin-inline: 1em;
		margin-bottom: 1em;
		color: var(--color-text-2);
	}

	.part-4 article section {
		display: flex;
		flex-direction: flex-start;
		align-items: center;
		margin-inline: 1em;
		margin-bottom: 1em;
	}

	.part-4 article section p {
		color: var(--color-text-3);
		margin-inline: 0;
		margin-bottom: 0;
	}

	.part-4 article:hover {
		box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .3);
	}

	.part-4 article:hover section p {
		text-decoration: 1px underline;
		text-decoration-color: var(--color-text-3);
		color: var(--color-text-3);
	}


	.part-4 article section img {
		width: 1.5em;
	}

	.part-4 img {
		width: 100%;
	}

	/* SECTION 5 */

	.part-5 {
		background-color: var(--color-background-2);
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		padding-inline: 1em;
	}

	.part-5 section {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
		row-gap: 1.875em;
		max-width: 990px;
		margin-inline: auto;
	}

	.part-5 img {
		width: 1.5em;
	}

	.part-5 h2 {
		position: relative;
		color: var(--color-text-2);
		font-weight: bold;
		max-width: 990px;
		margin-inline: auto;
		margin-bottom: 0.5em;
	}

	.part-5 h3 {
		display: flex;
		justify-content: flex-start;
		margin-inline: 1em;
		margin: 1em;
		font-size: 1.2em;
		font-weight: bold;
		color: var(--color-text-2)
	}

	.part-5 h4 {
		font-weight: bold;
		color: var(--color-text-2);
	}

	.part-5 a {
		color: var(--color-text-3);
	}

	.part-5 a:hover {
		text-decoration: 1px underline;
		text-decoration-color: var(--color-text-3);
	}

	.part-5 article {
		display: flex;
		flex-direction: column;
		background-color: var(--color-background);
		align-items: flex-start;
	}

	.part-5 article section {
		display: flex;
		align-items: flex-start;
		margin-left: 1em;
		margin-bottom: 1em;
		flex-direction: column;
		align-content: flex-start;
		flex-wrap: wrap;
	}


	/* SECTION 6 */

	.part-6 {
		margin-top: 3.5em;
		margin-bottom: 3.5em;
		margin-inline: 1em;
	}

	.part-6 h2 {
		position: relative;
		color: var(--color-text-2);
		font-weight: bold;
		max-width: 990px;
		margin-inline: auto;
		margin-bottom: 0.5em;
	}

	.part-6 article {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .1);
		height: 425px;
	}

	.part-6 section {
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
		row-gap: 1.875em;
		margin-inline: auto;
	}

	.part-6 article h3 {
		margin-inline: 1em;
		margin: 1em;
		font-size: 1.4em;
		font-weight: bold;
		color: var(--color-text-2)
	}

	.part-6 article p {
		margin-inline: 1em;
		margin-bottom: 1em;
		color: var(--color-text-2);
	}

	.part-6 article section {
		display: flex;
		flex-direction: flex-start;
		align-items: center;
		margin-inline: 1em;
		margin-bottom: 1em;
	}

	.part-6 article section p {
		color: var(--color-text-3);
		margin-inline: 0;
		margin-bottom: 0;
	}

	.part-6 article:hover {
		box-shadow: 0 0.0125em 0.625em 0 rgba(20, 18, 81, .3);
	}

	.part-6 article:hover section p {
		text-decoration: 1px underline;
		text-decoration-color: var(--color-text-3);
		color: var(--color-text-3);
	}


	.part-6 article section img {
		width: 1.5em;
	}

	.part-6 a img {
		width: 100%;
	}
}